.navbar {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #373d20;
  color: #929487;
  width: 100%
}

a {
  color: #929487;
}

a:visited {
  color: white;
}
